# Likelihood - Demo

Welcome to the Likelihood Demo! This will present a **truncated** version of Likelihood, one which utilizes working features to give the user a good idea of what Likelihood actually does, and how it can be implemented on a dataset!

### A Quick Rundown:

Likelihood is a data quality monitoring engine that measures the surprise, or entropy, of members of a given dataset. To learn more about the basic theory behind it, one may click on the 2 links below:

https://en.wikipedia.org/wiki/Entropy_(information_theory)

http://people.math.harvard.edu/~ctm/home/text/others/shannon/entropy/entropy.pdf

The basic essence is: uncertainty is maximized (it is most regular) in cases where the probability structure of a dataset is chaotic, meaning we don't have much information about it. However, when we can identify some given patterns about the probability structure of a dataset, we know that data members following these rules are not particularly chaotic. They are structured, and thus unsurprising. It is when these patterns are defied that the entropy shoots up to irregular heights. It is this percise rule defying approach that Likelihood uses to find outliers within a structured dataset.

Likelihood began as a numerical-estimation focused tool, but currently it works quite well with numerical, categorical, and timestamp data. Its functional approaches are mapped out below:

1. **Bootstrapping** - Building a distribution using the properties of a bootstrap, this approach uses the bootstrap to capture standard counts for values by TimeStamp and finds anomaly if test-set counts are a certain level off expected training set ratios.


2. **Time Series** - Using Facebook Prophet, Time Series evaluation puts surprising event in the context of the time in which they happened. Building a pattern off these approximations and understanding, the Time Series tool predicts the future for the test-set and raises an issue if expected future counts fall off.


3. **Kernel Density** - Smoothing a distribution so that certain properties can be utilized, Kernel Density fits the data under a curve depending on the data's variation and approximates which values in a distribution are unlikely by virtue of magnitude, thus finding the most surprising Data.


4. **PCA** - Using Dimensionality Reduction, PCA attributes the variation in the data to several significant columns which are used to compute bias row-wise. This approach is combined with the column based kernel density approach to truly triangulate the percise location of numeric data-error, and PCA's surprise metric is thus grouped with Kernel Density's.


5. **Relative Entropy Model for Categorical Data** - Much in the spirit of grammar, this relative entropy its own rules (expected formatting and behavior) for data, and obtains surprise based off the strictness of the rule that the data defies (defying a stricter rule would inherently be more chaotic)


6. **TimeStamp Intervals** - This Kernel Density approach computes similarly to the numerical Kernel Density, but this time orders the time intervals in the dataset and procceeds to test if there is a weird interval in which no data/ too much data was recorded.


7. **In Progress**: Mutual Entropy for Mixed Numeric and Categorical Data

Ultimately, Likelihood should become a functional tool that can build functional distributions without the need for any context. Currently it functions more as a copilot

In [7]:
# Imports for project purposes
# Full Project imports
import pandas as pd
import math as mt
import dateutil
from datetime import datetime, timedelta
import requests as rd
import numpy as np
from sklearn import neighbors, decomposition
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import smtplib
import scipy.stats as st
import os
from datetime import datetime, timedelta
from pandas.api.types import is_numeric_dtype
import copy

In [25]:
# Loading data into project
def load_data(dataset_link, category):
    if(category == "html"):
        return pd.read_html(dataset_link)
    else:
        if(category == "excel"):
            return pd.read_excel(dataset_link)
        else:
            return pd.read_csv(dataset_link)
        
        
df = load_data("pd_calls_for_service_2020_datasd.csv", "csv")

The Data used throughout this part of the demo comes from the San Diego County Police Calls for Service Dataset, it will be used to show the effect of Likelihood's Time-Series Methods

In [13]:
df

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority
0,E20010000001,2020-01-01 00:00:09,4,400,NaN,06TH,AVE,NaN,NaN,NaN,11-8,A,523,0
1,E20010000002,2020-01-01 00:00:20,4,5000,NaN,UNIVERSITY,AVE,NaN,NaN,NaN,FD,K,826,2
2,E20010000003,2020-01-01 00:00:21,4,800,NaN,SAWTELLE,AVE,NaN,NaN,NaN,AU1,W,434,1
3,E20010000004,2020-01-01 00:00:32,4,5000,NaN,UNIVERSITY,AVE,NaN,NaN,NaN,FD,K,826,2
4,E20010000005,2020-01-01 00:00:42,4,5200,NaN,CLAIREMONT MESA,BLV,NaN,NaN,NaN,415V,K,111,1
5,E20010000006,2020-01-01 00:01:04,4,0,NaN,CLEVELAND,NaN,NaN,UNIVER,NaN,FD,K,-1,2
6,E20010000007,2020-01-01 00:01:11,4,4300,NaN,MANZANITA,DR,NaN,NaN,NaN,AU1,DUP,835,1
7,E20010000008,2020-01-01 00:01:15,4,3800,NaN,DALBERGIA,CT,NaN,NaN,NaN,AU1,W,443,1
8,E20010000010,2020-01-01 00:01:33,4,4000,NaN,LOGAN,AVE,NaN,NaN,NaN,11-6,K,441,1
9,E20010000009,2020-01-01 00:01:33,4,0,S,37TH,ST,NaN,BETA,NaN,AU1,W,442,1
10,E20010000011,2020-01-01 00:02:22,4,1200,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,NaN,415V,CAN,623,1
11,E20010000012,2020-01-01 00:02:45,4,5600,NaN,MISSION CENTER,RD,NaN,NaN,NaN,415V,A,315,1
12,E20010000013,2020-01-01 00:03:25,4,4900,NaN,SANTA CRUZ,AVE,NaN,NaN,NaN,1171,K,614,1
13,E20010000014,2020-01-01 00:03:53,4,7400,NaN,HYATT,ST,NaN,NaN,NaN,AU1,W,621,1
14,E20010000015,2020-01-01 00:03:53,4,3500,NaN,45TH,ST,NaN,NaN,NaN,11-6,K,833,0
15,E20010000016,2020-01-01 00:03:54,4,2200,NaN,EL CAJON,BLV,NaN,NaN,NaN,242,CAN,624,1
16,E20010000017,2020-01-01 00:04:02,4,7400,NaN,SKYLINE,DR,NaN,NaN,NaN,AU1,W,436,1
17,E20010000018,2020-01-01 00:04:08,4,3500,NaN,LOGAN,AVE,NaN,NaN,NaN,AU1,W,441,1
18,E20010000019,2020-01-01 00:04:21,4,3600,NaN,KNOXIE,ST,NaN,NaN,NaN,459A,K,827,2
19,E20010000020,2020-01-01 00:04:39,4,16200,NaN,AVENIDA VENUSTO,NaN,NaN,NaN,NaN,AU1,W,234,1
20,E20010000021,2020-01-01 00:05:45,4,6700,NaN,BROOKLYN,AVE,NaN,NaN,NaN,AU1,W,433,1
21,E20010000022,2020-01-01 00:05:49,4,0,W,ASH,ST,NaN,NORTH HARBOR,NaN,10852C,K,522,2
22,E20010000023,2020-01-01 00:05:53,4,500,S,36TH,ST,NaN,NaN,NaN,AU1,W,441,1
23,E20010000024,2020-01-01 00:05:55,4,4800,NaN,ATLANTA,DR,NaN,NaN,NaN,459HP,K,326,0
24,E20010000025,2020-01-01 00:06:03,4,2600,NaN,CALLE TRES LOMAS,NaN,NaN,NaN,NaN,AU1,W,438,1
25,E20010000026,2020-01-01 00:06:18,4,0,NaN,DAWNE,ST,NaN,CONRAD,NaN,AU1,K,114,1
26,E20010000027,2020-01-01 00:07:08,4,1300,NaN,RIGEL,ST,NaN,NaN,NaN,AU1,W,442,1
27,E20010000028,2020-01-01 00:07:10,4,400,NaN,AGUA VISTA,WAY,NaN,NaN,NaN,AU1,W,432,1
28,E20010000029,2020-01-01 00:07:31,4,700,NaN,O'MEARA,ST,NaN,NaN,NaN,11-6SPT,W,452,1
29,E20010000030,2020-01-01 00:07:34,4,10700,NaN,SAN DIEGO MISSION,RD,NaN,NaN,NaN,1087,CAN,321,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132593,E20040023301,2020-04-14 22:45:24,3,10000,NaN,FRIARS,RD,NaN,NaN,NaN,MPSSTP,K,321,2
132594,E20040023302,2020-04-14 22:47:42,3,0,NaN,UNIVERSITY,AVE,NaN,LOUISIANA,NaN,5150,CAN,813,2
132595,E20040023303,2020-04-14 22:48:36,3,0,NaN,14TH,ST,NaN,MARKET,NaN,FD,K,521,2
132596,E20040023304,2020-04-14 22:51:11,3,5000,NaN,GENEVA,NaN,NaN,NaN,NaN,T,K,-1,2
132597,E20040023305,2020-04-14 22:53:48,3,4000,NaN,33RD,ST,NaN,NaN,NaN,5150,K,838,2
132598,E20040023307,2020-04-14 22:54:55,3,4700,NaN,WILSON,AVE,NaN,NaN,NaN,1155,K,814,1
132599,E20040023311,2020-04-14 22:58:38,3,0,NaN,50TH,ST,NaN,UNIVERSITY,NaN,415,K,827,2
132600,E20040023312,2020-04-14 22:58:49,3,1700,NaN,KEARNY,AVE,NaN,NaN,NaN,T,K,512,2
132601,E20040023314,2020-04-14 23:00:03,3,3000,NaN,DOVE,ST,NaN,NaN,NaN,AU2,W,529,2
132602,E20040023315,2020-04-14 23:00:18,3,2800,NaN,FAMOSA,BLV,NaN,NaN,NaN,415N,CAN,613,3
132603,E20040023316,2020-04-14 23:00:26,3,3600,NaN,CLAIREMONT,DR,NaN,NaN,NaN,T,O,116,2
132604,E20040023319,2020-04-14 23:03:50,3,0,NaN,COMMERCIAL,ST,NaN,NaN,NaN,SELENF,K,521,3
132605,E20040023320,2020-04-14 23:04:30,3,5000,NaN,NORTH HARBOR,DR,NaN,NaN,NaN,415,CAN,615,2
132606,E20040023322,2020-04-14 23:10:31,3,1500,NaN,WEST MISSION BAY,DR,NaN,NaN,NaN,1151,K,123,2
132607,E20040023325,2020-04-14 23:13:52,3,1300,NaN,05TH,AVE,NaN,NaN,NaN,459HP,K,524,0
132608,E20040023327,2020-04-14 23:15:33,3,2700,NaN,MAIN,ST,NaN,NaN,NaN,MPSSTP,K,511,2
132609,E20040023332,2020-04-14 23:19:26,3,0,NaN,PALM (SB),AVE,NaN,INTERSTATE 805 SB,NaN,CW,CAN,723,1
132610,E20040023333,2020-04-14 23:19:40,3,1200,NaN,09TH,AVE,NaN,NaN,NaN,459R,CAN,524,3
132611,E20040023335,2020-04-14 23:20:59,3,200,NaN,COTTONWOOD,RD,NaN,NaN,NaN,SELENF,K,712,3
132612,E20040023339,2020-04-14 23:30:27,3,3000,NaN,CLAIREMONT,DR,NaN,NaN,NaN,T,K,116,2
132613,E20040023341,2020-04-14 23:32:11,3,3500,NaN,MURPHY CANYON,RD,NaN,NaN,NaN,SELENF,K,311,3
132614,E20040023342,2020-04-14 23:32:32,3,2500,NaN,QUIVIRA,CT,NaN,NaN,NaN,SELENF,K,123,3
132615,E20040023343,2020-04-14 23:32:35,3,2900,NaN,MIDWAY,DR,NaN,NaN,NaN,1140OD,K,611,0
132616,E20040023345,2020-04-14 23:35:46,3,8100,NaN,BALBOA,AVE,NaN,NaN,NaN,415,K,313,2
132617,E20040023349,2020-04-14 23:42:53,3,5900,NaN,BARK,ST,NaN,NaN,NaN,11-7,K,451,1
132618,E20040023352,2020-04-14 23:45:34,3,0,NaN,FINO,DR,NaN,PORTO,NaN,FD,K,312,2
132619,E20040023353,2020-04-14 23:46:07,3,8300,NaN,HURLBUT,ST,NaN,NaN,NaN,SELENF,K,311,3
132620,E20040023354,2020-04-14 23:47:43,3,700,NaN,33RD,ST,NaN,NaN,NaN,911,CAN,516,1
132621,E20040023357,2020-04-14 23:50:41,3,5100,NaN,ACUNA,ST,NaN,NaN,NaN,1153,K,111,2
132622,E20040023358,2020-04-14 23:52:13,3,3200,NaN,HOLIDAY,CT,NaN,NaN,NaN,5150,CAN,124,2

In [26]:
# Converts Timetamp column of DataFrame to a legitimate timestamp
def convertToDateTime(df, timestamp):
    df[timestamp] =  pd.to_datetime(df[timestamp], format='%Y%m%d %H:%M:%S')
    return df


# Assignments for computational purposes
df['ts'] = df['date_time']
batchHours = 24*7
df = convertToDateTime(df, 'ts')
df

,incident_num,date_time,day_of_week,address_number_primary,address_dir_primary,address_road_primary,address_sfx_primary,address_dir_intersecting,address_road_intersecting,address_sfx_intersecting,call_type,disposition,beat,priority,ts
0,E20010000001,2020-01-01 00:00:09,4,400,NaN,06TH,AVE,NaN,NaN,NaN,11-8,A,523,0,2020-01-01 00:00:09
1,E20010000002,2020-01-01 00:00:20,4,5000,NaN,UNIVERSITY,AVE,NaN,NaN,NaN,FD,K,826,2,2020-01-01 00:00:20
2,E20010000003,2020-01-01 00:00:21,4,800,NaN,SAWTELLE,AVE,NaN,NaN,NaN,AU1,W,434,1,2020-01-01 00:00:21
3,E20010000004,2020-01-01 00:00:32,4,5000,NaN,UNIVERSITY,AVE,NaN,NaN,NaN,FD,K,826,2,2020-01-01 00:00:32
4,E20010000005,2020-01-01 00:00:42,4,5200,NaN,CLAIREMONT MESA,BLV,NaN,NaN,NaN,415V,K,111,1,2020-01-01 00:00:42
5,E20010000006,2020-01-01 00:01:04,4,0,NaN,CLEVELAND,NaN,NaN,UNIVER,NaN,FD,K,-1,2,2020-01-01 00:01:04
6,E20010000007,2020-01-01 00:01:11,4,4300,NaN,MANZANITA,DR,NaN,NaN,NaN,AU1,DUP,835,1,2020-01-01 00:01:11
7,E20010000008,2020-01-01 00:01:15,4,3800,NaN,DALBERGIA,CT,NaN,NaN,NaN,AU1,W,443,1,2020-01-01 00:01:15
8,E20010000010,2020-01-01 00:01:33,4,4000,NaN,LOGAN,AVE,NaN,NaN,NaN,11-6,K,441,1,2020-01-01 00:01:33
9,E20010000009,2020-01-01 00:01:33,4,0,S,37TH,ST,NaN,BETA,NaN,AU1,W,442,1,2020-01-01 00:01:33
10,E20010000011,2020-01-01 00:02:22,4,1200,NaN,HOTEL CIRCLE SOUTH,NaN,NaN,NaN,NaN,415V,CAN,623,1,2020-01-01 00:02:22
11,E20010000012,2020-01-01 00:02:45,4,5600,NaN,MISSION CENTER,RD,NaN,NaN,NaN,415V,A,315,1,2020-01-01 00:02:45
12,E20010000013,2020-01-01 00:03:25,4,4900,NaN,SANTA CRUZ,AVE,NaN,NaN,NaN,1171,K,614,1,2020-01-01 00:03:25
13,E20010000014,2020-01-01 00:03:53,4,7400,NaN,HYATT,ST,NaN,NaN,NaN,AU1,W,621,1,2020-01-01 00:03:53
14,E20010000015,2020-01-01 00:03:53,4,3500,NaN,45TH,ST,NaN,NaN,NaN,11-6,K,833,0,2020-01-01 00:03:53
15,E20010000016,2020-01-01 00:03:54,4,2200,NaN,EL CAJON,BLV,NaN,NaN,NaN,242,CAN,624,1,2020-01-01 00:03:54
16,E20010000017,2020-01-01 00:04:02,4,7400,NaN,SKYLINE,DR,NaN,NaN,NaN,AU1,W,436,1,2020-01-01 00:04:02
17,E20010000018,2020-01-01 00:04:08,4,3500,NaN,LOGAN,AVE,NaN,NaN,NaN,AU1,W,441,1,2020-01-01 00:04:08
18,E20010000019,2020-01-01 00:04:21,4,3600,NaN,KNOXIE,ST,NaN,NaN,NaN,459A,K,827,2,2020-01-01 00:04:21
19,E20010000020,2020-01-01 00:04:39,4,16200,NaN,AVENIDA VENUSTO,NaN,NaN,NaN,NaN,AU1,W,234,1,2020-01-01 00:04:39
20,E20010000021,2020-01-01 00:05:45,4,6700,NaN,BROOKLYN,AVE,NaN,NaN,NaN,AU1,W,433,1,2020-01-01 00:05:45
21,E20010000022,2020-01-01 00:05:49,4,0,W,ASH,ST,NaN,NORTH HARBOR,NaN,10852C,K,522,2,2020-01-01 00:05:49
22,E20010000023,2020-01-01 00:05:53,4,500,S,36TH,ST,NaN,NaN,NaN,AU1,W,441,1,2020-01-01 00:05:53
23,E20010000024,2020-01-01 00:05:55,4,4800,NaN,ATLANTA,DR,NaN,NaN,NaN,459HP,K,326,0,2020-01-01 00:05:55
24,E20010000025,2020-01-01 00:06:03,4,2600,NaN,CALLE TRES LOMAS,NaN,NaN,NaN,NaN,AU1,W,438,1,2020-01-01 00:06:03
25,E20010000026,2020-01-01 00:06:18,4,0,NaN,DAWNE,ST,NaN,CONRAD,NaN,AU1,K,114,1,2020-01-01 00:06:18
26,E20010000027,2020-01-01 00:07:08,4,1300,NaN,RIGEL,ST,NaN,NaN,NaN,AU1,W,442,1,2020-01-01 00:07:08
27,E20010000028,2020-01-01 00:07:10,4,400,NaN,AGUA VISTA,WAY,NaN,NaN,NaN,AU1,W,432,1,2020-01-01 00:07:10
28,E20010000029,2020-01-01 00:07:31,4,700,NaN,O'MEARA,ST,NaN,NaN,NaN,11-6SPT,W,452,1,2020-01-01 00:07:31
29,E20010000030,2020-01-01 00:07:34,4,10700,NaN,SAN DIEGO MISSION,RD,NaN,NaN,NaN,1087,CAN,321,2,2020-01-01 00:07:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132593,E20040023301,2020-04-14 22:45:24,3,10000,NaN,FRIARS,RD,NaN,NaN,NaN,MPSSTP,K,321,2,2020-04-14 22:45:24
132594,E20040023302,2020-04-14 22:47:42,3,0,NaN,UNIVERSITY,AVE,NaN,LOUISIANA,NaN,5150,CAN,813,2,2020-04-14 22:47:42
132595,E20040023303,2020-04-14 22:48:36,3,0,NaN,14TH,ST,NaN,MARKET,NaN,FD,K,521,2,2020-04-14 22:48:36
132596,E20040023304,2020-04-14 22:51:11,3,5000,NaN,GENEVA,NaN,NaN,NaN,NaN,T,K,-1,2,2020-04-14 22:51:11
132597,E20040023305,2020-04-14 22:53:48,3,4000,NaN,33RD,ST,NaN,NaN,NaN,5150,K,838,2,2020-04-14 22:53:48
132598,E20040023307,2020-04-14 22:54:55,3,4700,NaN,WILSON,AVE,NaN,NaN,NaN,1155,K,814,1,2020-04-14 22:54:55
132599,E20040023311,2020-04-14 22:58:38,3,0,NaN,50TH,ST,NaN,UNIVERSITY,NaN,415,K,827,2,2020-04-14 22:58:38
132600,E20040023312,2020-04-14 22:58:49,3,1700,NaN,KEARNY,AVE,NaN,NaN,NaN,T,K,512,2,2020-04-14 22:58:49
132601,E20040023314,2020-04-14 23:00:03,3,3000,NaN,DOVE,ST,NaN,NaN,NaN,AU2,W,529,2,2020-04-14 23:00:03
132602,E20040023315,2020-04-14 23:00:18,3,2800,NaN,FAMOSA,BLV,NaN,NaN,NaN,415N,CAN,613,3,2020-04-14 23:00:18
132603,E20040023316,2020-04-14 23:00:26,3,3600,NaN,CLAIREMONT,DR,NaN,NaN,NaN,T,O,116,2,2020-04-14 23:00:26
132604,E20040023319,2020-04-14 23:03:50,3,0,NaN,COMMERCIAL,ST,NaN,NaN,NaN,SELENF,K,521,3,2020-04-14 23:03:50
132605,E20040023320,2020-04-14 23:04:30,3,5000,NaN,NORTH HARBOR,DR,NaN,NaN,NaN,415,CAN,615,2,2020-04-14 23:04:30
132606,E20040023322,2020-04-14 23:10:31,3,1500,NaN,WEST MISSION BAY,DR,NaN,NaN,NaN,1151,K,123,2,2020-04-14 23:10:31
132607,E20040023325,2020-04-14 23:13:52,3,1300,NaN,05TH,AVE,NaN,NaN,NaN,459HP,K,524,0,2020-04-14 23:13:52
132608,E20040023327,2020-04-14 23:15:33,3,2700,NaN,MAIN,ST,NaN,NaN,NaN,MPSSTP,K,511,2,2020-04-14 23:15:33
132609,E20040023332,2020-04-14 23:19:26,3,0,NaN,PALM (SB),AVE,NaN,INTERSTATE 805 SB,NaN,CW,CAN,723,1,2020-04-14 23:19:26
132610,E20040023333,2020-04-14 23:19:40,3,1200,NaN,09TH,AVE,NaN,NaN,NaN,459R,CAN,524,3,2020-04-14 23:19:40
132611,E20040023335,2020-04-14 23:20:59,3,200,NaN,COTTONWOOD,RD,NaN,NaN,NaN,SELENF,K,712,3,2020-04-14 23:20:59
132612,E20040023339,2020-04-14 23:30:27,3,3000,NaN,CLAIREMONT,DR,NaN,NaN,NaN,T,K,116,2,2020-04-14 23:30:27
132613,E20040023341,2020-04-14 23:32:11,3,3500,NaN,MURPHY CANYON,RD,NaN,NaN,NaN,SELENF,K,311,3,2020-04-14 23:32:11
132614,E20040023342,2020-04-14 23:32:32,3,2500,NaN,QUIVIRA,CT,NaN,NaN,NaN,SELENF,K,123,3,2020-04-14 23:32:32
132615,E20040023343,2020-04-14 23:32:35,3,2900,NaN,MIDWAY,DR,NaN,NaN,NaN,1140OD,K,611,0,2020-04-14 23:32:35
132616,E20040023345,2020-04-14 23:35:46,3,8100,NaN,BALBOA,AVE,NaN,NaN,NaN,415,K,313,2,2020-04-14 23:35:46
132617,E20040023349,2020-04-14 23:42:53,3,5900,NaN,BARK,ST,NaN,NaN,NaN,11-7,K,451,1,2020-04-14 23:42:53
132618,E20040023352,2020-04-14 23:45:34,3,0,NaN,FINO,DR,NaN,PORTO,NaN,FD,K,312,2,2020-04-14 23:45:34
132619,E20040023353,2020-04-14 23:46:07,3,8300,NaN,HURLBUT,ST,NaN,NaN,NaN,SELENF,K,311,3,2020-04-14 23:46:07
132620,E20040023354,2020-04-14 23:47:43,3,700,NaN,33RD,ST,NaN,NaN,NaN,911,CAN,516,1,2020-04-14 23:47:43
132621,E20040023357,2020-04-14 23:50:41,3,5100,NaN,ACUNA,ST,NaN,NaN,NaN,1153,K,111,2,2020-04-14 23:50:41
132622,E20040023358,2020-04-14 23:52:13,3,3200,NaN,HOLIDAY,CT,NaN,NaN,NaN,5150,CAN,124,2,2020-04-14 23:52:13

In [28]:
# Splits data into train and test set based on date/time
def split_train_test(df, batchHours):
    maxTs = max(df['ts'])
    batchTs = maxTs - timedelta(hours = batchHours)
    testDf = df[df['ts'] > batchTs]
    trainDf = df[df['ts'] < batchTs]
    return trainDf, testDf

trainDf, testDf = split_train_test(df, batchHours)

In [31]:
# Helpers and Math
def pValue(data, threshold):
    p_larger = sum(np.array(data) >= threshold) / len(data)
    p_smaller = sum(np.array(data) <= threshold) / len(data)
    p = min(p_larger, p_smaller)

    # only use gaussian p-value when there is variation, but bootsrap p = 0
    stdev = np.std(data)
    if stdev == 0 or p != 0:
        p_gauss = p
    else:
        p_gauss = scipy.stats.norm(np.mean(result['bootstrap_counts']), stdev).cdf(result['count'])
        p_gauss = min(p_gauss,1-p_gauss)
    return p_gauss

def trimTraining(trainDf, params):

    # trim to most recent
    trainDf = trainDf.sort_values(params['ts'], ascending =False)
    trainDfTrimmed = trainDf[:params['maxTrainingSizeMultiple']*len(testDf)]
    
    return trainDfTrimmed

In [32]:
def bootstrap(trainDf, testDf):
    # get all of the string columns
    columnNames = []
    for columnName in testDf.keys():
        if (type (testDf[columnName].iloc[0])) == str:
            columnNames.append(columnName)
    print(columnNames)
    bootstrapDf = trimTraining(trainDf, params)

    # set up dict, add counts
    results = {}
    for columnName in columnNames:
        # if it isn't a string column, reject it
        if type(testDf[columnName].iloc[0]) != str:
            continue
        categories = (bootstrapDf[columnName].append(testDf[columnName])).unique()
        if len(categories) > params['maxCategories']:
            continue

        results[columnName] = {}
        testCounts = testDf[columnName].value_counts(dropna = False)
        for i in np.arange(1,len(categories) -1):
            if(pd.isna(categories[i])):
                categories = np.delete(categories, i)  
        for category in categories:
            results[columnName][category] = {'bootstrap_counts':[],
                                            'count':testCounts.get(category,0)}
    # resample, add boostrap counts
    for ii in range(params['bootstrapResamples']):
        # Draw random sample from training
        sampleDf = bootstrapDf.sample(len(testDf), replace=True)
        for columnName in results.keys():
            # count by category
            trainCounts = sampleDf[columnName].value_counts(dropna = False)
            # put results in dict
            for category in results[columnName].keys():
                boostrapCount = trainCounts.get(category,0)
                results[columnName][category]['bootstrap_counts'].append(boostrapCount)

    # convert to records, add p-values
    bootstrap_results = []
    for columnName in results.keys():
        for category in results[columnName].keys():
            result = results[columnName][category]

            estimatedCount = int(np.round(np.mean(result['bootstrap_counts'])))
            # don't report entries with very low predicted and actual counts
            if estimatedCount < params['minCategoryCount'] and result['count'] < params['minCategoryCount']:
                continue

            p = pValue(result['bootstrap_counts'],result['count'])
            categoryName = category
            if not category:
                categoryName = "NULL"

            bootstrap_results.append({"column":columnName,
                               "category":categoryName,
                               "count":result['count'],
                               "p": p,
                               "estimated_count":estimatedCount,
                               })
    if(np.count_nonzero(p)>0):
        resultsDf = pd.DataFrame.from_records(bootstrap_results).sort_values('p')
        resultsDf['surprise'] = -np.log2(resultsDf['p'])

['incident_num', 'date_time', 'address_road_primary', 'address_sfx_primary', 'call_type', 'disposition']

NameError: name 'params' is not defined